<header ng-include="'views/public-nav.html'"></header>
<p>This is the about view. Here are all the stuff about Swaptricks...
But the only important here is... You can swaping things whit other people,
and they can do the same with your products, noting fancy... oh, we use a REST api
in the server side, so we conect the content with <strong>api.swapingzone.com</strong>
 our RESTfull project.</p>
<br>
<h3>Restfull project repo <a target="_blank" href="https://github.com/PabloArceUTN/RestApiWeb2"><strong>RestApiWeb2</strong></a>.</h3>
<h3>Client project repo <a target="_blank" href="https://github.com/PabloArceUTN/swaptricks"><strong>swaptricks</strong></a>.</h3>
