<header ng-include="'views/private-nav.html'"></header>
<h2>Update your credentials</h2>
<form name="form" ng-submit="updateUser(user)" role="form">
  <div class="form-group">
    <label for="email">{{ userLoged.email }}</label>
    <input type="email" class="form-control" value="" ng-model="user.email" />
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" value="" class="form-control" value="" ng-model="user.username" />
  </div>
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname" class="form-control" ng-model="user.firstname" value="panocjp"/>
  </div>
  <div class="form-group">
    <label for="password">Password <span>(minimum is 8 characters)</span></label>
    <input type="password" name="password" id="password" class="form-control" placeholder="password" ng-model="user.password" required />
  </div>
  <div class="form-actions">
    <button class="col-md-6" type="submit" class="btn btn-primary" ng-href="#/">create</button>
    <a href="#/">Cancel</a>
  </div>
</form>
