<header ng-include="'views/private-nav.html'"></header>
<div class="jumbotron">
  <h1>List my Products</h1>
</div>
<div class="row marketing">
  <table class='table table-striped table-bordered table-hover table-condensed'>
    <tbody>
      <tr ng-repeat="(key, value) in myProducts">
        <td><span>{{value.name}}</span></td>
        <td>{{value.description}}</td>
        <td class="text-center">
          <button type="button" class=" glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal" ng-click="setTradeProduct(value)">
          </button>
        </td>
        <td class="text-center">
          <button type="button" class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModaledit" ng-click="setTradeProduct(value)">
        </td>
        <td class="text-center">
          <button type="button" class="glyphicon glyphicon-trash"  ng-click="deleteProduct(value);">
          </button>
        </td>
        <!-- <td><span ng-click="deleteProduct(value.id)" class="glyphicon glyphicon-trash"></span></td> -->
      </tr>
    </tbody>
  </table>
    <button type="button" class="glyphicon glyphicon-plus" data-toggle="modal" data-target="#myModalcreate" >  </button>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{productSelected.name}}</h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive img-rounded center-block" src="{{productSelected.url_img}}" alt="selected product" />
          <p>
              {{productSelected.description}}
          </p>
        </div><!--  item as item.label for item in items track by item.id -->
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModaledit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{productSelected.name}}</h4>
          <div class="form">
        <form role="form" ng-submit="updateProduct(productSelected);" >
           <div class="form-group">
              <label for="email">Name:</label>
          <input type="text" name="name" ng-model="productSelected.name" value="{{productSelected.name}}">
        </div>
           <div class="form-group">
              <label for="email">Description:</label>
          <input type="text" ng-model="productSelected.description" name="description" value="{{productSelected.description}}">
        </div>
           <div class="form-group">
              <label for="email">Active:</label>
        <input type="checkbox" name="name" ng-model="productSelected.active" value="{{productSelected.active}}">
      </div>
      <div class="actions">
        <button  type="submit" ng-href="#/" class="btn btn-primary btn-block">
    <span class="glyphicon glyphicon-floppy-disk"></span>
  </button>
      </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalcreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Product</h4>
        <div class="form">
      <form role="form" ng-submit="createProduct(product);" >
         <div class="form-group">
            <label for="name">Name:</label>
        <input  id="name" type="text" name="name" ng-model="product.name" >
      </div>
         <div class="form-group">
            <label for="des">Description:</label>
        <input  id="des" type="text" ng-model="product.description" name="description" >
      </div>
      <div class="form-group">
         <label for="img">Image:</label>
      <input name="url_img" class="button" id="img" type="file" ng-model="product.url_img">
   </div>

         <div class="form-group">
            <label for="check">Active:</label>
      <input  id="check" type="checkbox" name="name" ng-model="product.active" >
    </div>

    <div class="actions">
      <button  type="submit" ng-href="#/" class="btn btn-primary btn-block">
  <span class="glyphicon glyphicon-floppy-disk"></span>
</button>
    </div>
      </form>
      </div>
    </div>
  </div>
</div>
</div>
