<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" ng-href="#/dashboard">swaptricks</a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        <li><a ng-href="#/dashboard">Dashboard</a></li>
        <li><a ng-href="#/credentials" onclick="loadUser();">Credentials</a></li>
        <li><a ng-href="#/myproducts">My products</a></li>
        <li><a ng-href="#/products">Deals</a></li>
        <li><a ng-href="#/products">Products</a></li>
        <li ng-controller="SessionCtrl"><a ng-href="" ng-click="logout()"><strong>Logout</strong></a></li>
      </ul>
    </div>
  </div>
</div>
