
<div class="navbar navbar-default" role="navigation" style="background-color:#1A0950; border-color :#E95700 ;">
  <div>
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="#"><img src="../images/utn.png" class="img-responsive img-nav" alt="Responsive image"></a>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav navbar-right menu-nav" style="font-size: large;">
        <li><a ng-href="#/careers"style=" color: #e0ffff">Career</a></li>
        <li><a ng-href="#/office"style=" color: #e0ffff">Offices</a></li>
        <li><a ng-href="#/users"style=" color: #e0ffff">User</a></li>
        <li><a ng-href="#/course"style=" color: #e0ffff">Courses</a></li>        
      </ul>
    </div>
  </div>
</div>
