<header ng-include="'views/public-nav.html'"></header>
<div class="col-md-6 col-md-offset-3" ng-controller="SessionCtrl">
  <h2>Create your acount</h2>
  <form name="form" ng-submit="create(user);" role="form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" ng-model="user.email" placeholder="email" />
    </div>
    <div class="form-group">
      <label for="firstname">Username</label>
      <input type="text" name="username" class="form-control" ng-model="user.username" placeholder="username"/>
    </div>
    <div class="form-group">
      <label for="firstname">Firstname</label>
      <input type="text" name="firstname" class="form-control" placeholder="your firstname" ng-model="user.firstname" />
    </div>
    <div class="form-group">
      <label for="password">Password <span>(minimum is 8 characters)</span></label>
      <input type="password" name="password" id="password" class="form-control" placeholder="password" ng-model="user.password" required />
    </div>
    <div class="form-actions">
      <input id="logbutton" type="submit" class="btn btn-info" value="Create">
      <a id="abort" class="text-align-rigth" href="#/">Cancel</a>
    </div>
    <img id="spin" class="center-block" src="images/spinner.gif" alt="spinner" style="display: none;"/>
  </form>
</div>
